parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    level: 7
    paths:
        - src
    ignoreErrors:
        - '#Variable method call on object.#'
